---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import News from "../components/News.astro";
import Videos from "../components/Videos.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("site.title")} description={t("site.description")}>
  <main>
    <Hero />
    <About />
    <News />
    <Videos />
  </main>
</Layout>
